/* Consistent Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}


/* Colors */
:root {
    --beige: #EBE3E3;
    --dark-beige: #DBCBC3;
    --burnt-orange: #E76F51;
    --powder-blue: #95B8D1;
    --sage: #4E6E5D;
    --dark-brown: #5B4E4C;
}

/* Typography */
@font-face {
    font-family: 'Chalk';
    src: url('fonts/Chalk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik';
    src: url('fonts/Graphik-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Graphik-Light';
    src: url('fonts/Graphik-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Video Header */
.video-container {
    position: relative; /* Makes video stay in place */
    width: cover;
    height: 80vh;
}
#video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Makes video stay in the background */
}

/* Headline Container */
.headline-container {
    position: relative;
    background-color: white;
    margin-top: -75px; /* Adjusts the position of the headline over video */
    margin-bottom: -80px; /* Adjuts the position of the first section */
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    max-width: 724px;
    max-height: 150px;
    flex-shrink: 0;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Lede Section */
.lede-section {
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center; /* Keep only one align-items property */
    width: 100%;
    padding: 50px 20px 50px 20px; /* Added horizontal padding */
    clear: both;
    overflow: visible;
}
.custom-hr {
    border: none;
    background-color: var(--dark-brown);
    opacity: 60%;
    max-width: 608px;
    width: 75%;
    height: 4px;
    margin-top: 75px;
}
.lede-section img {
    width: 100%;
    max-width: 800px; /* Limit image width */
    height: auto;
    display: block;
    margin: auto ; /* Center the image */
    margin-top: -20px;
}
.lede-text {
    max-width: 608px;
    margin: 50px auto 0; /* Center horizontally with auto margins */
    text-align: center;
    overflow: visible !important;
    flex-shrink: 1;
}

/* The Mission's Legacy Section */
.mission-section {
    background-color: var(--beige);
    margin-top: -25px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    clear: both;
}
.mission-text {
    max-width: 608px;
    overflow: visible !important;
    flex-shrink: 1;
}
.mission-section img {
    max-width: 1040px;
    width: auto;
    max-height: 389px;
    height: auto;
    flex-shrink: 1;
}

/* Juana Alicia Scrolly section */
#scrolly {
    position: relative;
    background-color: var(--beige);
    padding: 0;
}
.sticky-thing-photo1 {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    background: url(images/MuralPics-04.jpg);
    background-size: cover;
    background-position: center center;
    z-index: 0;
    top: 0;
    height: 110vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
  }
article {
    position: relative;
    padding-bottom: 50px;
    max-width: 500px;
    margin: 0 auto;
}
.step {
    margin-top: 50px;
    background-color: var(--dark-beige);
    padding: 25px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SF Voices for Gaza Section */


/* The Scrolly Mural Alley Section */
.sticky-thing-photo2 {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: var(--beige);
    background: url(images/MuralPics-14.jpg);
    background-size: cover;
    background-position: center center;
    z-index: 0;
    top: 0;
    height: 110vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
  }
.step1, .step2, .step3 {
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.scroll-image2 {
    width: 600px; /* Increased image size */
    max-width: 1200px; /* Maximum width */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    opacity: 1; /* Start with 0 opacity */
    transition: opacity 1s ease-in-out; /* Smooth fade transition */
}
.scroll-image3 {
    width: 900px; /* Increased image size */
    max-width: 1200px; /* Maximum width */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    opacity: 1; /* Start with 0 opacity */
    transition: opacity 1s ease-in-out; /* Smooth fade transition */
}
#scrolly cite {
    font-family: Graphik;
    font-style: normal;
    font-size: 14px;
    color: var(--dark-brown);
    background-color: var(--dark-beige);
    padding: 5px 10px;
    margin-top: 10px;
    text-align: center;
    display: block;
    width: 70%; /* Allow for more flexible width */
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; /* Center the caption */
    box-sizing: border-box; /* Ensures padding doesn't reduce the effective width */
}

/* Sanitized Expression Section */
.sanitized-section {
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: -50px !important;
    clear: both;
}
.sanitized-text {
    max-width: 608px;
    margin-top: 50px;
    overflow: visible !important;
    flex-shrink: 1;
}

/* Hands of Resistance Section */
.resistance-section {
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    text-align: center;
    padding-top: -25px !important;
    padding-bottom: 50px;
    width: 100%;
    clear: both;
}
.resistance-title {
    background-color: var(--beige);
    display: inline-block;
    padding: 15px 25px;
    border-radius: 30px 30px 30px 0px;
    max-width: 720px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    flex-shrink: 1;
}
.resistance-text {
    max-width: 608px;
    margin-top: 50px;
    overflow: visible !important;
    flex-shrink: 1;
}

/* Footer */
.footer-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.footer-section img {
    width: 100%;
    height: auto;
    display: block;
}



/* Fade-in Animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* this is for desktop */
@media (min-width: 700px) {
    #container, #video-container, #headline-container {
        display: flex;
    }
    .byline-text {
        position: relative;
        font-size: 10px !important;
        left: 0;
        margin-top: 15px;
        z-index: 10;
    }
    h1 {
        font-size: 70px;
        font-family: Chalk;
        text-align: center;
        color: var(--sage);
    }
    h2 {
        font-size: 28px;
        font-family: Chalk;
        text-align: center;
        color: var(--sage);
    }
    h3 {
        font-size: 14px;
        font-family: Graphik-Light;
        text-align: left;
        color: var(--dark-brown);
    }
    h4 {
        font-size: 59px;
        font-family: Chalk;
        text-align: left;
        margin-bottom: 20px;
        color: var(--sage);
    }
    p {
        font-size: 18px;
        font-family: Graphik;
        text-align: justify;
        line-height: 1.75;
        margin-bottom: 25px;
        max-width: 700px;
        color: var(--dark-brown);
    }
    cite {
        margin-top: 10px;
        text-align: center;
        font-family: Graphik;
        font-style: normal;
        font-size: 14px;
        color: var(--dark-brown);
        background-color: var(--dark-beige);
        padding: 5px 10px;
        max-width: 100%;
    }
    .footer-section cite {
        position: absolute;
        bottom: 0;
        text-align: left;
        font-family: Graphik;
        font-style: normal;
        font-size: 14px;
        color: var(--dark-brown);
        background-color: rgba(255, 255, 255, 0.75);
        padding: 5px 10px;
        max-width: 50%;
    }
    .footer-section .cite1 {
        bottom: 50px; /* First citation near the middle */
    }
    .footer-section .cite4 {
        bottom: 10px; /* Fourth citation at the bottom */
    }
    .gaza-section-1 {
        background-color: var(--beige);
        display: flex;
        align-items: flex-start;
        padding-top: 50px;
    }
    .gaza-title {
        background-color: var(--beige);
        margin-left: 100px;
    }
    .gaza-section-2 {
        background-color: var(--beige);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding-top: 10px;
        padding-bottom: 60px;
        gap: 30px;
        row-gap: 5px;
    }
    .gaza-section-2 div {
        display: flex;
        flex-direction: column; /* Moves captions above images */
        align-items: center !important;
        text-align: center !important;
    }
    .gaza-section-2 img {
        position: relative;
        max-width: 466px;
        width: auto;
        max-height: 502px;
        height: auto;
        flex-shrink: 1;
        margin-left: 100px;
    }
    .gaza-section-2 cite {
        margin-top: 10px;
        text-align: center !important;
        font-family: Graphik;
        font-style: normal;
        font-size: 14px;
        color: var(--dark-brown);
        background-color: var(--dark-beige);
        padding: 5px 10px;
        max-width: 100%;
        margin-left: 100px;
    }
    .gaza-text {
        display: flex;
        flex-direction: column;
        min-width: 510px;
        width: auto;
        max-height: 472px;
        height: auto;
        flex-shrink: 0;
        margin-right: 100px;
        padding: inherit; /* Inherit padding from .gaza-section */
    }
}

/* this is for mobile */
@media (max-width: 699px) {
    .desktop-only {
        display: none;
    }
    .byline-text {
        position: relative;
        font-size: 10px !important;
        margin-left: 15px;
        margin-top: 15px;
        z-index: 10;
    }
    h1 {
        font-size: 48px;
        font-family: Chalk;
        text-align: center;
        color: var(--sage);
    }
    h2 {
        font-size: 25px;
        font-family: Chalk;
        text-align: center;
        color: var(--sage);
    }
    h3 {
        font-size: 14px;
        font-family: Graphik-Light;
        text-align: left;
        color: var(--dark-brown);
    }
    h4 {
        font-size: 45px;
        font-family: Chalk;
        text-align: left;
        margin-bottom: 20px;
        color: var(--sage);
        margin-left: 10px
    }
    p {
        font-size: 16px;
        font-family: Graphik;
        text-align: justify;
        line-height: 1.75;
        margin-bottom: 25px;
        margin-left: 15px;
        margin-right: 15px;
        max-width: 700px;
        color: var(--dark-brown);
    }
    .footer-section cite {
        position: absolute;
        bottom: 0;
        text-align: left;
        font-family: Graphik;
        font-style: normal;
        font-size: 8px;
        color: var(--dark-brown);
        background-color: rgba(255, 255, 255, 0.75);
        padding: 5px 10px;
        max-width: 50%;
    }
    .footer-section .cite1 {
        bottom: 50px; /* First citation near the middle */
    }
    .footer-section .cite2 {
        bottom: 80px; /* Second citation a bit further down */
    }
    .footer-section .cite3 {
        bottom: 45px; /*  Third citation a bit further down */
    }
    .footer-section .cite4 {
        bottom: 10px; /* Fourth citation at the bottom */
    }
    cite {
        margin-top: 10px;
        text-align: center;
        font-family: Graphik;
        font-style: normal;
        font-size: 14px;
        color: var(--dark-brown);
        background-color: var(--dark-beige);
        padding: 5px 10px;
        max-width: 100%;
    }
    .gaza-section-2 img,
    .gaza-section-2 cite {
        display: none;
    }
   /* Sanitized Expression Section */
.gaza-section-1, .gaza-section-2 {
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: -50px !important;
    clear: both;
}
.sanitized-text {
    max-width: 608px;
    margin-top: 50px;
    overflow: visible !important;
    flex-shrink: 1;
}
}